// cores //

$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

// textos //

$fontSizeTitleBig: 44px;
$fontSizeTitle: 40px;
$fontSizeTitleSmall: 28px;

$fontSizeTextBig: 18px;
$fontSizeText: 16px;
$fontSizeTextSmall: 12px;