// cores //

$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corBotaoPrimario: #6421ff;
$corBotaoPrimarioLighter: #7c44ff;
$corBotaoSecundario: #0063e5;
$corBotaoSecundarioLighter: #2080ff;
$corBotaoTerciario: rgba(0, 0, 0, 0.8);

// textos //

$fontSizeTitleBig: 44px;
$fontSizeTitle: 40px;
$fontSizeTitleSmall: 28px;

$fontSizeTextBig: 18px;
$fontSizeText: 16px;
$fontSizeTextSmall: 12px;